html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
}

/* Override Bootstrap Font */
:root {
    --bs-font-sans-serif: font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
}

/* Top Navbar Title centered */
header {
    text-align: center;
}

/* Buttons of cities displayed after selecting the submit button*/
.list-group {}

.row {
    padding: 2rem;
}

.form-format {
    padding: 5px;

}