html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
}

body {
    background-color: rgb(188, 186, 186);

}

/* Override Bootstrap Font */
:root {
    --bs-font-sans-serif: font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    font-weight: 300;
}

/* Top Navbar Title centered */
header {
    text-align: center;
}


.row {
    padding: 2rem;
}

.form-format {
    padding: 5px;

}